/*
Theme Name: React_theme
Version: 0.1.0
License: Private
License URI:
Text Domain: react_theme
This theme is proprietary.
*/

@import "sass/variables/variables";

@import "sass/normalize";

body {
  background: $color_white;
  font-family: $font_serif;
}

#root {
  display: flex;
  flex-flow: row wrap;
}