$color_primary: rgb(55, 216, 103);
$color_secondary: rgb(231, 233, 97);

$color_black: rgb(0, 0, 0);
$color_white: rgb(255, 255, 255);
$color_grey_lighter: rgb(224, 224, 224); 
$color_grey_light: rgb(180, 180, 180);
$color_grey: rgb(131, 131, 131);
$color_grey_dark: rgb(73, 73, 73);
$color_grey_darker: rgb(44, 44, 44);

$color_red_lighter: rgb(255, 122, 122);
$color_red_light: rgb(255, 71, 71);
$color_red: rgb(255, 0, 0);
$color_red_dark: rgb(133, 0, 0);
$color_red_darker: rgb(65, 0, 0);

$color_green_lighter: rgb(122, 255, 122);
$color_green_light: rgb(71, 255, 71);
$color_green: rgb(0, 255, 0);
$color_green_dark: rgb(0, 133, 0);
$color_green_darker: rgb(0, 65, 0);

$color_blue_lighter: rgb(122, 122, 255);
$color_blue_light: rgb(71, 71, 255);
$color_blue: rgb(0, 0, 255);
$color_blue_dark: rgb(0, 0, 133);
$color_blue_darker: rgb(0, 0, 65);

$color_yellow_lighter: rgb(255, 255, 122);
$color_yellow_light: rgb(255, 255, 71);
$color_yellow: rgb(255, 255, 0);
$color_yellow_dark: rgb(133, 133, 0);
$color_yellow_darker: rgb(65, 65, 0);

$color_orange_lighter: rgb(255, 120, 122);
$color_orange_light: rgb(255, 120, 71);
$color_orange: rgb(255, 120, 0);
$color_orange_dark: rgb(180, 84, 0);
$color_orange_darker: rgb(65, 30, 0);

$color_purple_lighter: rgb(255, 122, 255);
$color_purple_light: rgb(255, 71, 255);
$color_purple: rgb(255, 0, 255);
$color_purple_dark: rgb(133, 0, 133);
$color_purple_darker: rgb(65, 0, 65);

$color_beige: rgb(236, 236, 198);
$color_beige_dark: rgb(73, 73, 63);
$color_gold: rgb(224, 212, 97);

$color_success: $color_green_dark;
$color_success_text: $color_green_darker;
$color_success_background: $color_green_lighter;
$color_error: $color_red_dark;
$color_error_text: $color_red_darker;
$color_error_background: $color_red_lighter;
$color_warning: $color_orange_dark;
$color_warning_text: $color_orange_darker;
$color_warning_background: $color_orange_lighter;
$color_info: $color_blue_dark;
$color_info_text: $color_blue_darker;
$color_info_background: $color_blue_lighter;

$color_text_dark: $color_grey_darker;
$color_text_light: $color_grey_dark;
$color_text_inverse: $color_grey_light;
$color_link: $color_blue_light;
$color_link_inverse: $color_blue_lighter;

$color_background_light: $color_beige;
$color_background_dark: $color_beige_dark;